@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
body {
  margin: 0;
}
.login-page {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.login-page {
  background: -webkit-linear-gradient(left, #b37ac2 0%, #9874b9 100%);
  background: -o-linear-gradient(left, #897094 0%, #b78ec4 100%);
  background: linear-gradient(to right, #bb9fc4 0%, #b891ce 100%);
  position: relative;
  height: 100vh;
}

.login-page:before,
.login-page:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198' style='&%2310;'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3E%3Cstop stop-color='%2357BBC1' stop-opacity='.25' offset='0%25'/%3E%3Cstop stop-color='%23015871' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='rgba(255,255,255,0.2)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z' transform='matrix(-1 0 0 1 1600 0)' style='&%2310; /* fill: rgba(255,255,255,0.2); */&%2310;'/%3E%3C/svg%3E")
    repeat-x center bottom;
  height: 140px;
  background-size: auto 100px;
  background-position: bottom;
  animation: wave 12s linear infinite;
  bottom: 0;
  top: inherit;
}

.login-page:after {
  animation-duration: 20s;
}

@keyframes wave {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -1600px;
  }
}
.loginTitle {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 26px;
  font-weight: bold;
  margin-top: 0;
  color: #000;
}
.form {
  position: relative;
  z-index: 1;
  /* background: #FFFFFF; */
  background: #4b4350;
  max-width: 330px;
  margin: 20px auto;
  padding: 50px 45px;
  text-align: center;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.form input {
  font-family: "Quicksand";
  outline: 0;
  background: #d1d3d4;
  width: 100%;
  border: 0;
  margin: 0 0 18px;
  padding: 18px 20px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 18px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form input:focus {
  background: rgba(187, 54, 204, 0.11);
  color: #212121;
  font-weight: bold;
}
.loginButton {
  font-family: "Quicksand";
  text-transform: uppercase;
  outline: 0;
  background: #22042e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
.loginName {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.formLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 50px;
}
.processing .loginName {
  opacity: 0;
}
.processing .formLoader {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #270f2e;
}
.form .message {
  margin: 15px 0 0;
  color: #aaa;
  font-size: 14px;
  font-weight: 500;
}
.form .message a {
  color: #207bbf;
  text-decoration: none;
  margin-left: 4px;
  font-weight: 600;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  background: #368ccc;
  font-family: "Quicksand";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
