@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
* {
  box-sizing: border-box;
}

.logo {
  color: black;
  font-size: 40px;
  font-family: "Quicksand";
  font-weight: bold;
  /* font-family: 'Montserrat', sans-serif !important; */
}

.logo center img:hover {
  width: 300px;
  height: 300px;
  transition-duration: 2s;
}

body {
  background: white;
  position: relative;
  height: 100vh;
  font-family: "Quicksand";
  font-weight: bold;
  /* font-family: 'Montserrat', sans-serif !important; */

  color: black;
  margin: 0;
  padding: 0;
}

.menu-bar {
  background-color: rgb(138, 124, 137);
  text-align: center;
  float: inline-end;
  font-size: larger;
  opacity: 1;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
}

.menu-bar ul li {
  width: 120px;
  margin: 2px;
  padding: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);

  transition: background-color 0.5s ease;
}

.menu-bar ul li a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}

.menu-bar ul li:hover {
  border-radius: 50%;
  transition: background-color 0.5s ease;
  background-color: rgba(78, 45, 74, 0.7);
  border-radius: 5px;
}

.cat {
  width: 900px;
  height: 500px;
  margin-top: 50px;
  display: flex;
  margin: 30px;
}

.items {
  margin: 10px;
  width: 300px;
  height: 500px;
  box-shadow: -1px 0 10px black;
  background-color: rgb(228, 219, 219);
}

footer {
  text-align: center;
  padding: 3px;
  box-shadow: -1px 0 10px black;
  color: rgb(94, 74, 102);
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  padding-bottom: 10px;
}

.wrapper {
  height: 20px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  border-radius: 12px;
  cursor: pointer;
}

.wrapper span {
  width: 100%;
  font-weight: 600;
}

.wrapper span.num {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.wrapper span.numH {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.wrapper span.numS {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.wrapper span.numJJ {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.wrapper span.numW {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.wrapper span.numB {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.form {
  margin: 20px;
}
#quantity {
  width: 45px;
  height: 25px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #9eb6c9;
}
#lable {
  font-weight: bold;
}

/* .btn {
    transition-duration: 0.4s;
    border-radius: 8px;
    background-color: #2b2b2b;
    color: white;
 border: none;
 height: 30px;
 font-size: 11px;
 font-weight: bold;
 font-family: 'Montserrat', sans-serif !important;
  }
  
  .btn:hover {
    background-color: #030303; 
    color: rgb(243, 243, 247);
  } */

.btn1 {
  transition-duration: 0.4s;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2b2b2b;
  border: none;
  height: 35px;
  width: 80px;
  font-weight: bold;

  position: relative;
  left: 50%;
  bottom: 0%;
  top: 20%;
  transform: translateX(-50%);
  color: white;
}

.btn1:hover {
  background-color: #030303;
  color: rgb(243, 243, 247);
}

select {
  background-color: #fdfafa;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 12px;
  width: 20px;
  border-radius: 8px;
}

option {
  background-color: rgb(223, 222, 222);
  color: #000;
  padding: 12px;
  font-weight: 800;
  font-family: "Quicksand";
  font-size: 13px;
  border-radius: 5px;
}
