@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

body{
	background-color:white;
	font-family: 'Quicksand';
}
header{
	text-align: center;
	height: 100px;
	padding-top: 1px;
	background-color: #7a627c;
	color: black;
	font-size: x-large;
}


h3{
	margin-top: 2px;
	text-align: center;
	background-color:#a48da7;
	font-weight: bold;
}
label{
	font-weight: bold;
	font-family: 'Quicksand';
}

form{
	width: 45%;
	display: inline-block;
	margin: 20px;
}

footer{
	margin-top: 3%;
	text-align: center;
}